.root {
  background: var(--background);
  padding: 24px 16px;
  box-shadow: var(--shadow-smallest);
  border-radius: 8px;
  transition: ease 0.2s box-shadow;
}

.root:hover {
  box-shadow: var(--shadow-medium);
}

.input {
  flex: 1 1 0%;
  margin-right: 8px;
}

.form {
  width: 100%;
}

.heading {
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  margin-top: 0;
  padding-left: 0.2rem;
  color: var(--accents-7);
}

.meta {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--accents-3);
  margin-left: 0;
  line-height: 20px;
  font-style: italic;
}
